@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1692844045446') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chaye:before {
    content: "\e608";
}

.icon-huaping:before {
    content: "\e61c";
}

.icon-huaping1:before {
    content: "\e60d";
}

.icon-meihua:before {
    content: "\e604";
}

.icon-facaishu:before {
    content: "\e609";
}

.icon-chuxiye:before {
    content: "\e620";
}

.icon-gufengwujianzhongguofengshanzizheshan_huaban:before {
    content: "\e621";
}

.icon-gufengwujianzhongguofengshanzituanshan_huaban:before {
    content: "\e622";
}

.icon-gufengwujianzhongguofengshanzituanshan_huaban_huaban:before {
    content: "\e623";
}

.icon-gufengwujianzhongguofengsangufengsan_huaban_huaban:before {
    content: "\e624";
}

.icon-gufengwujianzhongguofengdenglong_huaban:before {
    content: "\e625";
}

.icon-gufengwujianzhongguofengdenglong_huaban1:before {
    content: "\e626";
}

.icon-gufengwujianzhongguofengdenglong_huaban2:before {
    content: "\e627";
}

.icon-gufengwujianzhongguofengzhongguojie_huaban_huaban:before {
    content: "\e628";
}

.icon-gufengwujianzhongguofengtongqianyuanxingfangkongqian_huaban_huaban:before {
    content: "\e629";
}

.icon-gufengwujianzhongguofengtongqianyuanxingfangkongqian_huaban_huaban1:before {
    content: "\e62a";
}

.icon-gufengwujianzhongguofenggudaiqiwuliqishiqisanzuding_huaban_huaban:before {
    content: "\e62b";
}

.icon-gufengwujianzhongguofenggudaiqiwuleqijiuqifou_huaban_huaban:before {
    content: "\e62c";
}

.icon-gufengwujianzhongguofenggudaiqiwujiuqijue_huaban_huaban:before {
    content: "\e62d";
}

.icon-gufengwujianzhongguofengwenfangsibaozhi_huaban_huaban:before {
    content: "\e630";
}

.icon-gufengwujianzhongguofenggudaishu_huaban_huaban:before {
    content: "\e631";
}

.icon-gufengwujianzhongguofengzhujian_huaban_huaban_huaban:before {
    content: "\e632";
}

.icon-gufengwujianzhongguofenggudaileqidizi_huaban_huaban_huaban:before {
    content: "\e63d";
}

.icon-gufengwujianzhongguofenggudaileqixun_huaban_huaban_huaban:before {
    content: "\e63f";
}

.icon-gufengwujianzhongguofenggudaileqikonghou_huaban_huaban_huaban_huaban:before {
    content: "\e640";
}

.icon-gufengwujianzhongguofenggudaileqiqixianqinguqin_huaban_huaban_huaban_huaban:before {
    content: "\e641";
}

.icon-gufengwujianzhongguofenggudaileqipipa_huaban_huaban_huaban_huaban:before {
    content: "\e642";
}

.icon-gufengwujianzhongguofenggudaileqimeihuaqin_huaban_huaban_huaban_huaban:before {
    content: "\e643";
}

.icon-gufengwujianzhongguofenggudaileqiyueqin_huaban_huaban_huaban_huaban:before {
    content: "\e644";
}

.icon-chuangge3:before {
    content: "\e61f";
}

.icon-chuangge16:before {
    content: "\e62e";
}

.icon-chuangge4:before {
    content: "\e62f";
}

.icon-chuangge10:before {
    content: "\e633";
}

.icon-chuangge14:before {
    content: "\e634";
}

.icon-chuangge11:before {
    content: "\e635";
}

.icon-chuangge9:before {
    content: "\e636";
}

.icon-chuangge1:before {
    content: "\e637";
}

.icon-chuangge13:before {
    content: "\e638";
}

.icon-chuangge12:before {
    content: "\e639";
}

.icon-chuangge15:before {
    content: "\e63a";
}

.icon-chuangge7:before {
    content: "\e63b";
}

.icon-chuangge5:before {
    content: "\e63c";
}

