/*TODO: 字体大小变量*/

.poem-font {
    font-family: cursive,SimSun, Arial, Helvetica, sans-serif;
    font-size: 35px;
}

#poemDiv, #poemContent, #poemAuthor {
    letter-spacing: 5px;
    line-height: 35px;
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}

#poemDiv {
    position: fixed;
    top: auto;
    bottom: auto;
    left: 15%;
    right: 15%;
}

#poemContent, #poemAuthor {
    height: 35px;
    letter-spacing: 5px;
    line-height: 35px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/*移动端竖屏样式*/
@media screen and (max-width: 500px) and (orientation:portrait) {
    .poem-font {
        font-family: cursive,SimSun, Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    /* 中国诗词 */
    #poemDiv {
        position: fixed;
        top: 100px;
        bottom: 100px;
        left: auto;
        right: auto;
    }

    #poemContent, #poemAuthor {
        height: inherit;
        writing-mode: vertical-lr;
        line-height: 20px;
        display: block;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }

    /* 隐藏部分元素 */
    #poemAuthor {
        display: none;
    }
}