.poemText {
    text-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

/*移动端竖屏样式*/
@media screen and (max-width: 500px) and (orientation: portrait) {
    div:has(.portrait) {
        display: inline-flex;
    }

    .vertical {
        height: 100% !important;
        writing-mode: vertical-lr;
    }
}