@import "~antd/dist/reset.css";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #FFFFFF;
}

.ant-layout {
  background: transparent;
}

#header {
  height: 100px;
  line-height: 100px;
  background-color: transparent;
}

#content {
  position: fixed;
  top: 100px;
  bottom : 100px;
  left: 50px;
  right: 50px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
}

.buttonFont {
  font-family: cursive, SimSun, Arial, Helvetica, sans-serif;
  font-size: 25px !important;
  line-height: 25px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.popoverFont {
  font-family: cursive,SimSun, Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  line-height: 16px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  cursor: default;
}

/*水平垂直居中*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}