.weatherFont {
    font-family: cursive,SimSun, Arial, Helvetica, sans-serif;
    font-size: 25px !important;
    line-height: 25px;
    cursor: pointer;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.weatherFont > i {
    vertical-align: middle;
}

/*移动端竖屏样式*/
@media screen and (max-width: 500px) and (orientation:portrait) {
    .weatherFont {
        font-family: cursive,SimSun, Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
}